<!doctype html>
<html lang="en">
    <head>

        <!-- Required Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/FlexSystem.css">

    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-dark navbar-custom top-bar">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Flex-ESS HMI - Home</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a id="clock" class="navbar-brand mx-auto"></a>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="edit_button" onclick="return confirm('\n##### YOU ARE ENTERING THE HMI EDIT MODE ######\n\n The current configuration will be LOST! \n\n Are you sure?')" href="/Edit">Edit</a>
                    </li>
                </ul>
            </div>
        </nav>

        <script src="https://unpkg.com/gojs@2.2.16/release/go.js"></script> <!--2.2.16-->

        <!-- The HMI Window -->
        <div id="hmi">
            <div style="width: 100%; height:93vh; display: flex; justify-content: space-between">
                <!-- Toolbox -->
                <div style="width: 135px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black; display:none">
                    <div class="tabs">
                        <div class="tab">
                            <!-- This would be a Flex Module in a radio group. Styling comes later -->
                            <input type="radio" id="rd1" name="rd" checked="true">
                            <label class="tab-label" for="rd1">Flex Modules</label>
                            <div class="tab-content">
                                <div id="myFlexModules" style="width: 140px; height: 340px; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
                                    <canvas tabindex="0" width="140" height="340" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 140px; height: 340px; cursor: auto;">
                                        This text is displayed if your browser does not support the Canvas HTML element.
                                    </canvas>
                                    <div style="position: absolute; overflow: auto; width: 140px; height: 340px; z-index: 1;">
                                        <div style="position: absolute; width: 1px; height: 1px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs">
                        <div class="tab">
                            <!-- This would be a Decoration in a radio group. Styling comes later -->
                            <input type="radio" id="rd2" name="rd" checked="true">
                            <label class="tab-label" for="rd2">Decorations</label>
                            <div class="tab-content">
                                <div id="myFlexDeco" style="width: 140px; height: 100%; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
                                    <canvas tabindex="0" width="140" height="340" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 140px; height: 340px; cursor: auto;">
                                        This text is displayed if your browser does not support the Canvas HTML element.</canvas>
                                    <div style="position: absolute; overflow: auto; width: 140px; height: 340px; z-index: 1;">
                                        <div style="position: absolute; width: 1px; height: 1px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HMI -->
                <div id="myDiagramDiv" style="flex-grow: 1; height: 100%; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
                    <canvas tabindex="0" width="917" height="498" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 917px; height: 498px; cursor: auto;">
                        This text is displayed if your browser does not support the Canvas HTML element.
                    </canvas>
                    <div style="position: absolute; overflow: auto; width: 917px; height: 498px; z-index: 1;">
                        <div style="position: absolute; width: 1px; height: 1px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <pre id="savedModel" style="height:250px; display:none">{ "class": "GraphLinksModel",
                "nodeDataArray": [
                    {"name":"G3","isGroup":true,"pos":"-100 200","size":"700 250"},
                    {"name":"b","color":"#81D4FA","pos":"-50 250","group":"G3"},
                    {"name":"g","color":"#B2FF59","pos":"-50 350","group":"G3"},
                    {"name":"y","color":"#FFEB3B","pos":"50 250","group":"G3"},
                    {"name":"G22","isGroup":true,"pos":"-100 -100","size":"700 250"},
                    {"name":"b32","color":"#81D4FA","pos":"0 -50","group":"G22"}
                ],
                "linkDataArray": []}
            </pre>
        </div>

        <!-- Bootstrap CSS -->
        <style>
            body {
                background-color: #F1F6F9;
            }

            .navbar-custom {
                background-color: #9BA4B4;
                font-size: 1.2vw;
                height: 7vh;
            }

            .navbar-brand {
                font-size: 1.2vw;
            }
        </style>

        <!-- GoJS CSS -->
        <style type="text/css">
            /* This CSS is used to create the accordion for the Palettes */
            input {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }

            /* Accordion styles */
            .tabs {
                overflow: hidden;
            }

            .navbar-nav.navbar-center {
                position: absolute;
                left: 50%;
                transform: translatex(-50%);
            }

            .tab {
                width: 100%;
                color: white;
                overflow: hidden;
            }
            .tab-label {
                display: flex;
                justify-content: space-between;
                padding: 0.5em;
                background: #1F4963;
                cursor: pointer;
            }
            .tab-label:hover {
                background: #627f91;
            }
            .tab-label::after {
                content: "❯";
                width: 1em;
                height: 1em;
                text-align: center;
                transition: all 0.35s;
            }
            .tab-content {
                max-height: 0;
                color: #2c3e50;
                background: white;
            }
            .tab-close {
                display: flex;
                justify-content: flex-end;
                padding: 1em;
                font-size: 0.75em;
                background: #2c3e50;
                cursor: pointer;
            }
            .tab-close:hover {
                background: #1a252f;
            }

            input:checked + .tab-label {
                background: #1a252f;
            }
            input:checked + .tab-label::after {
                transform: rotate(90deg);
            }
            input:checked ~ .tab-content {
                max-height: 100vh;
            }
        </style>

        <!-- Javascript handling the graphical system view -->
        <script id="code">

            // Initialise the GoJS GUI
            var AllowTopLevel = false;
            var CellSize = new go.Size(50, 50);

            function init()
            {
                // Long GoJS License key to get rid of the HMI watermark
                go.Diagram.licenseKey = "73f944ebb66431b700ca0d2b113f69ef1bb37e6099d41bf05a0546f6eb016d4770c9e87b43c38cc882fe4ffb492e9489dfc76b7a9e44013cee37d68f45b287ffb53070bb440143ddf30524919eaf23a8a97975a796e273f5db2c89faf9b8c5c90ceef38618cb1cab2a7905334977b04ab2";

                document.body.addEventListener('click', clickme, true);

                var pageTimeout = 300;                                                              // 5 minutes until splash screen, hard coded for now.

                function clickme()
                {
                    pageTimeout = 300;
                }

                var splashTimer = setInterval(function()
                {
                    if(pageTimeout > 0)
                    {
                        pageTimeout -= 1;
                        if(pageTimeout == 0)
                        {
                            // Go back to splash screen
                            window.location.pathname = "/Splash/";
                        }
                    }
                }, 1000);

                if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this

                // Since 2.2 you can also author concise templates with method chaining instead of GraphObject.make
                // For details, see https://gojs.net/latest/intro/buildingObjects.html
                const $ = go.GraphObject.make;

                myDiagram =
                $(go.Diagram, "myDiagramDiv",
					{
					    "draggingTool.isEnabled": false,
						grid: $(go.Panel, "Grid",
							{ gridCellSize: CellSize },
<!--							$(go.Shape, "LineH", { stroke: "#F1F6F9" }),-->
<!--							$(go.Shape, "LineV", { stroke: "#F1F6F9" })-->
						),

						// Support grid snapping when dragging and when resizing
						"draggingTool.isGridSnapEnabled": true,
						"draggingTool.gridSnapCellSpot": go.Spot.Center,
						"resizingTool.isGridSnapEnabled": true,

						"animationManager.isEnabled": true,
						"undoManager.isEnabled": true
					}
				);


                // Regular Nodes represent items to be put onto racks.
                // Nodes are currently resizable, but if that is not desired, just set resizable to false.
                myDiagram.nodeTemplate =
                $(go.Node, "Auto",
					{
						resizable: false, resizeObjectName: "SHAPE",

						// Because the gridSnapCellSpot is Center, offset the Node's location
						locationSpot: new go.Spot(0, 0, CellSize.width / 2, CellSize.height / 2),

						// Provide a visual warning about dropping anything onto an "item"
						mouseDragEnter: (e, node) => {
							e.handled = true;
							//node.findObject("SHAPE").fill = "red";
							e.diagram.currentCursor = "not-allowed";
							highlightGroup(node.containingGroup, false);
						},
						mouseDragLeave: (e, node) => node.updateTargetBindings(),
						click: nodeClick,

						// Disallow dropping anything onto an "item"
						mouseDrop: (e, node) => node.diagram.currentTool.doCancel()
					},

					// Always save/load the point that is the top-left corner of the node, not the location
					new go.Binding("position", "pos", go.Point.parse).makeTwoWay(go.Point.stringify),

					// This is the primary thing people see
					$(go.Shape, "RoundedRectangle",
					{
						name: "SHAPE",
						fill: "white",
						minSize: CellSize,
						desiredSize: CellSize  // initially 1x1 cell
					},
					//new go.Binding("fill", "color"),                                                                        // Colour of the module

					new go.Binding("desiredSize", "size", go.Size.parse).makeTwoWay(go.Size.stringify)),

                    $(go.Picture, {width: 50, height: 50,},
                        new go.Binding("source", "icon"),
                        new go.Binding("desiredSize", "size", go.Size.parse).makeTwoWay(go.Size.stringify)
                    ),

                    $(go.TextBlock, { stretch: go.GraphObject.Horizontal, textAlign: "center", alignment: go.Spot.Bottom},
                        new go.Binding("text", "status")
                        //new go.Binding("background", "color")
                    )

                );  // End Node

                myDiagram.linkTemplate =
                $(go.Link,
                    { routing: go.Link.AvoidsNodes, curve: go.Link.JumpGap, corner: 10, reshapable: false, toShortLength: 0 },
                    new go.Binding("points").makeTwoWay(),
                    new go.Binding("wireType", "default"),
                    new go.Binding("polarity", 1),
                    new go.Binding("animation", null),  // I hope this works

                    // mark each Shape to get the link geometry with isPanelMain: true
                    $(go.Shape, { isPanelMain: true, stroke: "black", strokeWidth: 5, name: "PIPEWALL"}),
                    $(go.Shape, { isPanelMain: true, stroke: "transparent", strokeWidth: 5, name: "PIPEFILL"}),
                    $(go.Shape, { isPanelMain: true, stroke: "transparent", strokeWidth: 3, name: "PIPEFLOW", strokeDashArray: [10, 10] }),

                    $(go.Panel, "Auto",  // this whole Panel is a link label
                        $(go.Shape, "RoundedRectangle", { fill: "white", stroke: "black" }),
                        $(go.TextBlock, "0", { margin: 3 }, new go.Binding("text", "text"))
                    ),
                );

                // Groups represent racks where items (Nodes) can be placed.
                // Currently they are movable and resizable, but you can change that
                // if you want the racks to remain "fixed".
                // Groups provide feedback when the user drags nodes onto them.

                function highlightGroup(grp, show)
                {
                    if (!grp) return false;

                    // Check that the drop may really happen into the Group
                    var tool = grp.diagram.toolManager.draggingTool;
                    grp.isHighlighted = show && grp.canAddMembers(tool.draggingParts);
                    return grp.isHighlighted;
                }

                var groupFill = "transparent";  //"rgba(128,128,128,0.2)";
                var groupStroke = "transparent";    //"gray";
                var dropFill = "rgba(128,255,255,0.2)";
                var dropStroke = "red";

                myDiagram.groupTemplate =
                $(go.Group,
					{
						layerName: "Background",
						resizable: false, resizeObjectName: "SHAPE",

						// Because the gridSnapCellSpot is Center, offset the Group's location
						locationSpot: new go.Spot(0, 0, CellSize.width / 2, CellSize.height / 2)
					},

					// Always save/load the point that is the top-left corner of the node, not the location
					new go.Binding("position", "pos", go.Point.parse).makeTwoWay(go.Point.stringify),
					{
						// What to do when a drag-over or a drag-drop occurs on a Group
						mouseDragEnter: (e, grp, prev) => {
							if (!highlightGroup(grp, true)) e.diagram.currentCursor = "not-allowed"; else e.diagram.currentCursor = "";
						},

						mouseDragLeave: (e, grp, next) => highlightGroup(grp, false),
						mouseDrop: (e, grp) => {
							var ok = grp.addMembers(grp.diagram.selection, true);
							if (!ok) grp.diagram.currentTool.doCancel();
						}
					},

					$(go.Shape, "Rectangle",  // the rectangular shape around the members
						{
							name: "SHAPE",
							fill: groupFill,
							stroke: groupStroke,
							minSize: new go.Size(CellSize.width * 2, CellSize.height * 2)
						},

						new go.Binding("desiredSize", "size", go.Size.parse).makeTwoWay(go.Size.stringify),
						new go.Binding("fill", "isHighlighted", h => h ? dropFill : groupFill).ofObject(),
						new go.Binding("stroke", "isHighlighted", h => h ? dropStroke : groupStroke).ofObject()
					),

					$(go.Picture, {width: 50, height: 50,},
                        new go.Binding("source", "icon"),
                        new go.Binding("desiredSize", "size", go.Size.parse).makeTwoWay(go.Size.stringify))
                );

                // Decide what kinds of Parts can be added to a Group
                myDiagram.commandHandler.memberValidation = (grp, node) => {
                    if (grp instanceof go.Group && node instanceof go.Group) return false;  // cannot add Groups to Groups
                    // but dropping a Group onto the background is always OK
                    return true;
                };

                // What to do when a drag-drop occurs in the Diagram's background
                myDiagram.mouseDragOver = e => {
                    if (!AllowTopLevel)
                    {
                        // OK to drop a group anywhere or any Node that is a member of a dragged Group
                        var tool = e.diagram.toolManager.draggingTool;
                        if (!tool.draggingParts.all(p => p instanceof go.Group ||
                           (!p.isTopLevel && tool.draggingParts.contains(p.containingGroup))))
                        {
                            e.diagram.currentCursor = "not-allowed";
                        }
                        else
                        {
                            e.diagram.currentCursor = "";
                        }
                    }
                };

                myDiagram.mouseDrop = e => {
					if (AllowTopLevel)
					{
						// When the selection is dropped in the diagram's background,
						// make sure the selected Parts no longer belong to any Group
						if (!e.diagram.commandHandler.addTopLevelParts(e.diagram.selection, true))
						{
							e.diagram.currentTool.doCancel();
						}
					}
					else
					{
						// Disallow dropping any regular nodes onto the background, but allow dropping "racks",
						// including any selected member nodes
						if (!e.diagram.selection.all(p => {
							return p instanceof go.Group || (!p.isTopLevel && p.containingGroup.isSelected);
						})) {
							e.diagram.currentTool.doCancel();
						}
					}
				};

				// initialize the first Palette
				myFlexModules =
				$(go.Palette, "myFlexModules",
					{ // share the templates with the main Diagram
						nodeTemplate: myDiagram.nodeTemplate,
						groupTemplate: myDiagram.groupTemplate
					}
				);

				var green = '#B2FF59';
				var blue = '#81D4FA';
				var yellow = '#FFEB3B';

                fetch("/layout").then(res => res.json()).then(res => {

                    myDiagram.model = go.Model.fromJson(res);
                    myDiagram.zoomToFit();

                    myDiagram.links.each(function(obj) {

                        // Update the wire graphic
                        setWire(obj, obj.data.wireType);
                    });
                }).catch(error => console.error('Error', error))

                // MSP HMI Control
                function updateLinkAnimation(link, power) {
                    if(!link.animation)
                        link.animation = new go.Animation();
                        //link.animation.stop();
                    //else
                    //    link.animation = new go.Animation();

                    link.animation.easing = go.Animation.EaseLinear;

                    if (link.data.polarity < 0)
                        link.animation.add(link.findObject("PIPEFLOW"), "strokeDashOffset", 0, 20);
                    else if (link.data.polarity > 0)
                        link.animation.add(link.findObject("PIPEFLOW"), "strokeDashOffset", 20, 0);
                    else if (link.data.polarity == 0)
                        link.animation.add(link.findObject("PIPEFLOW"), "strokeDashOffset", 0, 0);

                    var dur = Math.abs(power);
                    if(dur >= 1000)                                                             // A nice round 1MW
                        dur = 999;

                    // dur should be between 500 and 1000 to give a nice range of speeds.-->
                    link.animation.duration = 1000-((900/1000)*dur);                                // Max speed will be 100mS, not blindingly fast.

                    // Run indefinitely
                    link.animation.runCount = Infinity;
                    link.animation.start();
                }

                // Lets add the Flex Box outlines too as groups
                var pageInterval = setInterval(function()
                {
                    // Set the clock
                    var date = new Date();
                    clock = document.getElementById("clock").innerHTML = date.toLocaleString('en-GB', { hour12: false });

                    fetch("/Home_data").then(res => res.json()).then(res => {

                        // Update the Icons
                        for(x=0;x<Object.keys(res).length;x++)
                        {
                            uid = Object.keys(res)[x];

                            // Get the system enable state - This is a bit of a hack as we're not currently fed the system data, only the GoJS data. We're
                            // looking for the Client Module's state as it's the last thing to go active after the system is enabled, and hiding the HMI Edit
                            // button while the system is operational to prevent clients screwing up the system config, db.json.
                            if((Object.values(res)[uid-1][12]).includes("Client.png"))
                            {
                                if((Object.values(res)[uid-1][7]).includes("Active"))
                                {
                                    document.getElementById("edit_button").style.display = "None";
                                }
                                else
                                {
                                    document.getElementById("edit_button").style.display = "Block";
                                }
                            }

                            myDiagram.nodes.each(function(node)
                            {
                                if(uid == node.data.uid)
                                {
                                    //myDiagram.startTransaction("Update Node");
                                    // Set the state (check FlexMod.py for the get_status x offsets
                                    myDiagram.model.set(node.elt(2), "text", Object.values(res)[uid-1][7]);

                                    // Set the icon if it changes
                                    if(node.data.icon != Object.values(res)[uid-1][12])
                                        myDiagram.model.set(node.data, "icon", Object.values(res)[uid-1][12]);

                                    // Colour the node if there are any abnormal states
                                    // Check Fault count.
                                    if(Object.values(res)[uid-1][10] > 0)                        // Because the data for uid 1 is at location 0 etc
                                        myDiagram.model.set(node.elt(0), "fill", "LightPink");
                                    // Check Alarm count
                                    else if(Object.values(res)[uid-1][9] > 0)
                                        myDiagram.model.set(node.elt(0), "fill", "Moccasin");
                                    // Check Warning count
                                    else if(Object.values(res)[uid-1][8] > 0)
                                        myDiagram.model.set(node.elt(0), "fill", "LightYellow");
                                    // No issues
                                    else
                                        myDiagram.model.set(node.elt(0), "fill", "White");

                                    //myDiagram.commitTransaction("Node Updated");
                                }
                            });
                        }

                        // Update wire animations
                        myDiagram.links.each(function(link)
                        {
                            var fromVolt = 0
                            var fromAmp = 0
                            var fromPwr = 0;
                            var toVolt = 0;
                            var toAmp = 0;
                            var toPwr = 0;

                            // Find nodes connected by animated links
                            fromNode = toNode = null;
                            myDiagram.nodes.each(function(node)
                            {
                                if(link.data.from == node.data.key)
                                    fromNode = node;
                                if(link.data.to == node.data.key)
                                    toNode = node;
                            });

                            // Calculate the power for the node (V*I)
                            if(link.data.wireType == "ACV")
                            {
                                fromVolt = Object.values(res)[fromNode.data.uid-1][1];
                                toVolt = Object.values(res)[toNode.data.uid-1][1];
                            }
                            else if(link.data.wireType == "ACI")
                            {
                                fromAmp = Object.values(res)[fromNode.data.uid-1][2];
                                toAmp = Object.values(res)[toNode.data.uid-1][2];
                            }
                            else if(link.data.wireType == "ACW")                                          // Use Primary V/A Data
                            {
                                fromPwr = Object.values(res)[fromNode.data.uid-1][1] * Object.values(res)[fromNode.data.uid-1][2];
                                toPwr = Object.values(res)[toNode.data.uid-1][1] * Object.values(res)[toNode.data.uid-1][2];
                                console.log("ACFrom = " + Object.values(res)[fromNode.data.uid-1][1] + " " + Object.values(res)[fromNode.data.uid-1][2])
                                console.log("ACTo = " + Object.values(res)[fromNode.data.uid-1][1] + " " + Object.values(res)[fromNode.data.uid-1][2])
                            }
                            else if(link.data.wireType == "DCV")
                            {
                                fromVolt = Object.values(res)[fromNode.data.uid-1][3];
                                toVolt = Object.values(res)[toNode.data.uid-1][3];
                            }
                            else if(link.data.wireType == "DCI")
                            {
                                fromAmp = Object.values(res)[fromNode.data.uid-1][4];
                                toAmp = Object.values(res)[toNode.data.uid-1][4];
                            }
                            else if(link.data.wireType == "DCW")                                     // Use Secondary V/A Data
                            {
                                fromPwr = Object.values(res)[fromNode.data.uid-1][3] * Object.values(res)[fromNode.data.uid-1][4];
                                toPwr = Object.values(res)[toNode.data.uid-1][3] * Object.values(res)[toNode.data.uid-1][4];
                            }
                            else if(link.data.wireType == "PVV")
                            {
                                fromVolt = Object.values(res)[fromNode.data.uid-1][5];
                                toVolt = Object.values(res)[toNode.data.uid-1][5];
                            }
                            else if(link.data.wireType == "PVI")
                            {
                                fromAmp = Object.values(res)[fromNode.data.uid-1][6];
                                toAmp = Object.values(res)[toNode.data.uid-1][6];
                            }
                            else if(link.data.wireType == "PVW")                                     // Use Tertiary V/A Data
                            {
                                fromPwr = Object.values(res)[fromNode.data.uid-1][5] * Object.values(res)[fromNode.data.uid-1][6];
                                toPwr = Object.values(res)[toNode.data.uid-1][5] * Object.values(res)[toNode.data.uid-1][6];
                            }

                            if ((link.data.wireType == "ACV") || (link.data.wireType == "DCV") || (link.data.wireType == "PVV"))
                            {
                                // Display the node power, polarity and speed
                                var lastVolt = parseInt(link.elt(3).elt(1).text);

                                if((parseInt(fromVolt) == 0) || (parseInt(toVolt) == 0))
                                {
                                    myDiagram.model.set(link.elt(3).elt(1), "text", "0 V");
                                    if(link.data.polarity != 0)
                                        link.data.polarity = 0;
                                    if(lastVolt != 0)
                                        updateLinkAnimation(link, 0);
                                }
                                else
                                {
                                    // Then we get the voltage parameters based on how they interact or what they are.
                                    if(fromVolt >= toVolt)                                          // We're sending voltage
                                    {
                                        link.data.polarity = 1;                                     // Then we modify the animation direction of the link
                                    }
                                    else if(fromVolt < toVolt)                                      // We're receiving voltage
                                    {
                                        link.data.polarity = -1;
                                        if(fromVolt > 0)                                            // By making it negative we're indicating flow back into the inverter
                                            fromVolt = -fromVolt;
                                    }

                                    if(lastVolt != fromVolt.toFixed(1))                             // Update the animation on change only
                                        updateLinkAnimation(link, Math.abs(parseInt(fromVolt)));
                                    myDiagram.model.set(link.elt(3).elt(1), "text", fromVolt.toFixed(1) + " V");
                                }
                            }
                            else if ((link.data.wireType == "ACI") || (link.data.wireType == "DCI") || (link.data.wireType == "PVI"))
                            {
                                // Display the node power, polarity and speed
                                var lastAmp = parseInt(link.elt(3).elt(1).text);

                                if((parseInt(fromAmp) == 0) || (parseInt(toAmp) == 0))
                                {
                                    myDiagram.model.set(link.elt(3).elt(1), "text", "0 A");
                                    if(link.data.polarity != 0)
                                        link.data.polarity = 0;
                                    if(lastAmp != 0)
                                        updateLinkAnimation(link, 0);
                                }
                                else
                                {
                                    // Then we get the current parameters based on how they interact or what they are.
                                    if(fromAmp >= toAmp)                                            // We're sending current
                                    {
                                        link.data.polarity = 1;                                     // Then we modify the animation direction of the link
                                    }
                                    else if(fromAmp < toAmp)                                        // We're receiving current
                                    {
                                        link.data.polarity = -1;
                                        if(fromAmp > 0)                                            // By making it negative we're indicating flow back into the inverter
                                            fromAmp = -fromAmp;
                                    }

                                    if(lastAmp != fromAmp.toFixed(1))                             // Update the animation on change only
                                        updateLinkAnimation(link, Math.abs(parseInt(fromAmp)));
                                    myDiagram.model.set(link.elt(3).elt(1), "text", fromAmp.toFixed(1) + " A");
                                }
                            }
                            else if ((link.data.wireType == "ACW") || (link.data.wireType == "DCW") || (link.data.wireType == "PVW"))
                            {
                                // Display the node power, polarity and speed
                                var lastPwr = parseFloat(link.elt(3).elt(1).text);                    // We're dealing with multiple nodes so get the last value from only the node of interest
								
                                // The *Just Pick One* method
                                if(fromPwr > 0)
                                {
                                    if(link.data.wireType == "ACW")                                 // Annoyingly the Acuvim meters are inverted
                                        link.data.polarity = -1;                                    // Though perhaps this should be fixed in the driver itself (DEFINITELY YES!!!, DO IT...)
                                    else if(link.data.wireType == "DCW" || (link.data.wireType == "PVW"))
                                        link.data.polarity = 1;
                                }
                                else if(fromPwr < 0)
                                {
                                    if(link.data.wireType == "ACW")                                 // Annoyingly the Acuvim meters are inverted
                                        link.data.polarity = 1;
                                    else if(link.data.wireType == "DCW" || (link.data.wireType == "PVW"))
                                        link.data.polarity = -1;
                                }
                                console.log("First: ", lastPwr, (fromPwr/1000).toFixed(1));
                                if(lastPwr != (fromPwr/1000).toFixed(1))                            //fromPwr.toFixed(1))
                                    console.log("updating link animation");
                                    //updateLinkAnimation(link, Math.abs(parseInt(fromPwr/1000)));
                                    myDiagram.model.set(link.elt(3).elt(1), "text", (fromPwr/1000).toFixed(1) + " kW");
                            }
                        });
                    })
                    .catch(error => console.error('Error', error))
                }, 1000);
			}

			function nodeClick(e, obj)
			{
			    window.location.href = obj.part.data.website;
            }

            function setWire(obj, type)
            {
                if(type == "Default")
                {
                    //obj.data.text = "wire"
                    myDiagram.model.set(obj.elt(0), "stroke", "black");                             // Pipe wall
                    myDiagram.model.set(obj.elt(0), "strokeWidth", "5");                            // Pipe width
                    myDiagram.model.set(obj.elt(1), "stroke", "transparent");                       // Pipe fill
                    myDiagram.model.set(obj.elt(2), "stroke", "transparent");                       // "Dashed" Pipe flow
                }
                else if(type == "CANbus")
                {
                    myDiagram.model.set(obj.elt(0), "stroke", "lightgreen");
                    myDiagram.model.set(obj.elt(0), "strokeWidth", "5");
                    myDiagram.model.set(obj.elt(1), "stroke", "transparent");
                    myDiagram.model.set(obj.elt(2), "stroke", "transparent");
                    myDiagram.model.set(obj.elt(3).elt(1), "text", "CAN");
                }
                else if(type == "ModbusTCP")
                {
                    myDiagram.model.set(obj.elt(0), "stroke", "lightblue");
                    myDiagram.model.set(obj.elt(0), "strokeWidth", "5");
                    myDiagram.model.set(obj.elt(1), "stroke", "transparent");
                    myDiagram.model.set(obj.elt(2), "stroke", "transparent");
                    myDiagram.model.set(obj.elt(3).elt(1), "text", "MB-TCP");
                }
                else if(type == "ModbusRTU")
                {
                    myDiagram.model.set(obj.elt(0), "stroke", "orange");
                    myDiagram.model.set(obj.elt(0), "strokeWidth", "5");
                    myDiagram.model.set(obj.elt(1), "stroke", "transparent");
                    myDiagram.model.set(obj.elt(2), "stroke", "transparent");
                    myDiagram.model.set(obj.elt(3).elt(1), "text", "MB-RTU");
                }
                else if(type == "TCP-IP")
                {
                    myDiagram.model.set(obj.elt(0), "stroke", "purple");
                    myDiagram.model.set(obj.elt(0), "strokeWidth", "5");
                    myDiagram.model.set(obj.elt(1), "stroke", "transparent");
                    myDiagram.model.set(obj.elt(2), "stroke", "transparent");
                    myDiagram.model.set(obj.elt(3).elt(1), "text", "TCP-IP");
                }
                else if((type == "ACV") || (type == "ACI") || (type == "ACW"))
                {
                    myDiagram.model.set(obj.elt(0), "stroke", "black");
                    myDiagram.model.set(obj.elt(0), "strokeWidth", "7");
                    myDiagram.model.set(obj.elt(1), "stroke", "blue");
                    myDiagram.model.set(obj.elt(1), "strokeWidth", "5");
                    myDiagram.model.set(obj.elt(2), "stroke", "white");
                    myDiagram.model.set(obj.elt(2), "strokeWidth", "3");
                }
                else if((type == "DCV") || (type == "DCI") || (type == "DCW"))
                {
                    myDiagram.model.set(obj.elt(0), "stroke", "black");
                    myDiagram.model.set(obj.elt(0), "strokeWidth", "7");
                    myDiagram.model.set(obj.elt(1), "stroke", "limegreen");
                    myDiagram.model.set(obj.elt(1), "strokeWidth", "5");
                    myDiagram.model.set(obj.elt(2), "stroke", "white");
                    myDiagram.model.set(obj.elt(2), "strokeWidth", "3");
                }
                else if((type == "PVV") || (type == "PVI") || (type == "PVW"))
                {
                    myDiagram.model.set(obj.elt(0), "stroke", "black");
                    myDiagram.model.set(obj.elt(0), "strokeWidth", "7");
                    myDiagram.model.set(obj.elt(1), "stroke", "orange");
                    myDiagram.model.set(obj.elt(1), "strokeWidth", "5");
                    myDiagram.model.set(obj.elt(2), "stroke", "white");
                    myDiagram.model.set(obj.elt(2), "strokeWidth", "3");
                }
            }

			window.addEventListener('DOMContentLoaded', init);

        </script>

        <!-- JQuery and Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>