<!doctype html>
<html lang="en">
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/FlexSystem.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark navbar-custom top-bar">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Flex-ESS HMI - AC Earth Fault Monitor</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a id="clock" class="navbar-brand mx-auto"></a>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="home_button" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Card 1 -->
        <section class="system-cards" style="padding-top: 2rem">
            <div id="ac_efm_info" style="display: block">
                <div class="card">
                    <h5 class="card-header">Information</h5>
                    <div class="card-body">
                        <div class="container-fluid">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>System</b>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Name:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_efm_name"></span>
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-md-2">
<!--                                        System Enable:-->
                                    </div>
                                    <div class="col-sm-1">
<!--                                        <span id="ac_efm_enable_echo"></span>-->
                                    </div>
                                    <div class="col-sm-1">
<!--                                        <input id="ac_efm_enable" name="ac_efm_enable" value="" style="display: none">-->
                                    </div>
                                    <div class="col-sm-1">
<!--                                        <button type="submit" id="ac_efm_enable_set" name="ac_efm_enable_set" class="btn btn-primary btn-sm" style="width:100%; padding:0px; border:0px;">Enable</button>-->
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Manufacturer:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_efm_man"></span>
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Firmware Version:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_efm_fwver"></span>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Serial Number:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_efm_serno"></span>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Connection State:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_efm_constate"></span>
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-md-2">
                                        IP Address (Local):
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="ac_efm_ipaddr_local" name="ac_efm_ipaddr_local" value="0.0.0.0" style="width:100%; padding:0px; text-align:center;">
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="system-cards">
            <div id="ac_efm_config" style="display: block">
                <div class="card">
                    <h5 class="card-header">Configuration</h5>
                    <div class="card-body">
                        <div class="container-fluid" id="control" style="display:block">
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Override Controls:
                                            </div>
                                            <div class="col-md-4">
                                                <!-- This is simply something that ends up in the form data when the button is pressed. -->
                                                <input id="ac_efm_override" name="ac_efm_override" style="display:none">
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" id="ac_efm_override_button" class="btn btn-primary btn-sm" style="width:100%; padding:0px; border:0px;">Override</button>
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <u>EFM Status</u>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="ac_efm_enable_state" style="display:block">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Enable State:
                                            </div>
                                            <div class="col-md-4">
                                                <td><span id="ac_efm_enable_statetext"></span></td>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_enable" name="ac_efm_enable" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                               R Insulation resistance (kΩ):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_R_insulation_resistance" name="ac_efm_R_insulation_resistance" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Insulation alarm 1 (kΩ):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_insulation_alarm_1" name="ac_efm_insulation_alarm_1" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Rmin. Insulation resistance (kΩ):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_Rmin_insulation_resistance" name="ac_efm_Rmin_insulation_resistance" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Insulation alarm 2 (kΩ):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_insulation_alarm_2" name="ac_efm_insulation_alarm_2" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Alarm Status code & params:
                                            </div>
                                            <div class="col-md-4">
												<!-- Disabled for now as long messages are increasing the line height and it isn't pretty -->
												<!--<label type="text" id="ac_efm_alarm_status_params" name="ac_efm_alarm_status_params" style="width:100%; padding:0px; text-align:center;">-->
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_alarm_status_code" name="ac_efm_alarm_status_code" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                 U(DC-E) DC offset voltage (V):
                                            </div>
											<div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_U_DC_E" name="ac_efm_U_DC_E" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
							<div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                 U(1-2) Voltage (V):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_U_L1_L2" name="ac_efm_U_L1_L2" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                U(1-3) Voltage (V):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_U_L1_L3" name="ac_efm_U_L1_L3" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
							<div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                 U(3-2) Voltage (V):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_U_L2_L3" name="ac_efm_U_L2_L3" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                U(1-E) Voltage  (V):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_U_L1_PE" name="ac_efm_U_L1_PE" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
							<div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                 U(2-E) Voltage (V):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_U_L2_PE" name="ac_efm_U_L2_PE" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                U(3-E) Voltage  (V):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_efm_U_L3_PE" name="ac_efm_U_L3_PE" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>

        // Get the UID for this page to request data from
        path = window.location.pathname;
        var moduleUID = path.split('\(').pop().split('\)')[0];                                         // Grabs the module UID from this page "(<UID>)"

        // Request data for this page
        function pageLoad()
        {
            fetch("/Mod/FlexMod_BenderACefm" + "_(" + moduleUID + ")" + "/data").then(res => res.json()).then(res => {

                pageUpdate();

                // Set up handlers to catch all button and selector events
                var form = document.querySelectorAll("form");

                function doggoFetch(formData)
                {
                    fetch("/Mod/FlexMod_BenderACefm" + "_(" + moduleUID + ")",
                    {
                       body: formData,
                       method: "post"
                    })
                    .catch(error => console.error('Error', error))
                }

                for(var x=0; x<form.length; x++)                                                            // We're preparing all form data for submission...
                {
                    form[x].onsubmit = function(event){
                        doggoFetch(new FormData(event.target));
                        return false;                                                                       // ...and preventing the page from refreshing!
                    }

                    form[x].addEventListener('change', function() {
                        doggoFetch(new FormData(event.target.form));
                        return false;
                    });
                }

                // Update Module Information
                document.getElementById("ac_efm_name").innerHTML = res["ac_efm_name"];
                document.getElementById("ac_efm_man").innerHTML = res["ac_efm_man"];
                document.getElementById("ac_efm_fwver").innerHTML = res["ac_efm_fwver"];
                document.getElementById("ac_efm_serno").innerHTML = res["ac_efm_serno"];
                document.getElementById("ac_efm_constate").innerHTML = res["ac_efm_constate"];
                document.getElementById("ac_efm_ipaddr_local").value = res["ac_efm_ipaddr_local"];

                // Disable control buttons if manual override not set
                if(res["ac_efm_override"] == true)
                {
                    document.getElementById("ac_efm_ipaddr_local").disabled = false;
                    document.getElementById("ac_efm_override_button").innerHTML = "Disable";
                }
                else
                {
                    document.getElementById("ac_efm_ipaddr_local").disabled = true;
                    document.getElementById("ac_efm_override_button").innerHTML = "Enable";
                }
            })
            .catch(error => console.error('Error', error))
        };

        // Wait for page to load
        document.addEventListener('DOMContentLoaded', function () {
            pageLoad();                                                                             // Update data on page load
        });

        // Request data for this page
        function pageUpdate()
        {
            // Set the clock
            var date = new Date();
            clock = document.getElementById("clock").innerHTML = date.toLocaleString('en-GB', { hour12: false });

            fetch("/Mod/FlexMod_BenderACefm" + "_(" + moduleUID + ")" + "/data").then(res => res.json()).then(res => {

                enable_state = String(res["ac_efm_enablestate"]);
                document.getElementById("ac_efm_enable").value = enable_state[0].toUpperCase() + enable_state.substring(1);
				// update on 14/08/23 (Mani)
				document.getElementById("ac_efm_R_insulation_resistance").value = parseInt(res["ac_efm_R_insulation_resistance"])
				document.getElementById("ac_efm_Rmin_insulation_resistance").value = parseInt(res["ac_efm_Rmin_insulation_resistance"])
				document.getElementById("ac_efm_insulation_alarm_1").value = parseInt(res["ac_efm_insulation_alarm_1"])
				document.getElementById("ac_efm_insulation_alarm_2").value = parseInt(res["ac_efm_insulation_alarm_2"])
				document.getElementById("ac_efm_alarm_status_code").value = parseInt(res["ac_efm_alarm_status_code"])
				//document.getElementById("ac_efm_alarm_status_params").innerHTML = (res["ac_efm_alarm_status_params"])
				document.getElementById("ac_efm_U_L1_L2").value = parseInt(res["ac_efm_U_L1_L2"])
				document.getElementById("ac_efm_U_L1_L3").value = parseInt(res["ac_efm_U_L1_L3"])
				document.getElementById("ac_efm_U_L2_L3").value = parseInt(res["ac_efm_U_L2_L3"])
				document.getElementById("ac_efm_U_L1_PE").value = parseInt(res["ac_efm_U_L1_PE"])
				document.getElementById("ac_efm_U_L2_PE").value = parseInt(res["ac_efm_U_L2_PE"])
				document.getElementById("ac_efm_U_L3_PE").value = parseInt(res["ac_efm_U_L3_PE"])
				document.getElementById("ac_efm_U_DC_E").value = parseInt(res["ac_efm_U_DC_E"])
				



                // Disable control buttons if manual override not set
                if(res["ac_efm_override"] == true)
                {
                    document.getElementById("ac_efm_ipaddr_local").disabled = false;
                    document.getElementById("ac_efm_override_button").innerHTML = "Disable";
                }
                else
                {
                    document.getElementById("ac_efm_ipaddr_local").disabled = true;
                    document.getElementById("ac_efm_override_button").innerHTML = "Enable";
                }
            })
            .catch(error => console.error('Error', error))
        };

        // Request data for this page
        var pageInterval = setInterval(function()
        {
            pageUpdate();
        }, 1000);

        </script>
    </body>
</html>
