<!doctype html>
<html lang="en">
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/FlexSystem.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark navbar-custom top-bar">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Flex-ESS HMI - AC Meter</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a id="clock" class="navbar-brand mx-auto"></a>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="home_button" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Card 1 -->
        <section class="system-cards" style="padding-top: 2rem">
            <div id="ac_meter_info" style="display: block">
                <div class="card">
                    <h5 class="card-header">Information</h5>
                    <div class="card-body">
                        <div class="container-fluid">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>System</b>
                                    </div>
                                    <div class="col-md-6">
<!--                                        <b>Control</b>-->
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Name:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_meter_name"></span>
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-md-2">
<!--                                        System Enable:-->
                                    </div>
                                    <div class="col-sm-1">
<!--                                        <span id="ac_meter_enable_echo"></span>-->
                                    </div>
                                    <div class="col-sm-1">
<!--                                        <input id="ac_meter_enable" name="ac_meter_enable" value="" style="display: none">-->
                                    </div>
                                    <div class="col-sm-1">
<!--                                        <button type="submit" id="ac_meter_enable_set" name="ac_meter_enable_set" class="btn btn-primary btn-sm" style="width:100%; padding:0px; border:0px;">Enable</button>-->
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Manufacturer:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_meter_man"></span>
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-md-2">
<!--                                        Remote Pilot:-->
                                    </div>
                                    <div class="col-md-1">
<!--                                        <span id="ac_meter_pilot_echo"></span>-->
                                    </div>
                                    <div class="col-sm-1">
<!--                                        <input id="ac_meter_pilot" name="ac_meter_pilot" value="" style="display: none">-->
                                    </div>
                                    <div class="col-sm-1">
<!--                                        <button type="submit" id="ac_meter_pilot_set" name="ac_meter_pilot_set" class="btn btn-primary btn-sm" style="width:100%; padding:0px; border:0px;">Set</button>-->
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Firmware Version:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_meter_fwver"></span>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Serial Number:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_meter_serno"></span>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-2">
                                        Connection State:
                                    </div>
                                    <div class="col-md-3">
                                        <span id="ac_meter_constate"></span>
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-md-2">
                                        IP Address (Local):
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="ac_meter_ipaddr_local" name="ac_meter_ipaddr_local" value="0.0.0.0" style="width:100%; padding:0px; text-align:center;">
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="system-cards">
            <div id="ac_meter_config" style="display: block">
                <div class="card">
                    <h5 class="card-header">Configuration</h5>
                    <div class="card-body">
                        <div class="container-fluid" id="control" style="display:block">
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Override Controls:
                                            </div>
                                            <div class="col-md-4">
                                                <!-- This is simply something that ends up in the form data when the button is pressed. -->
                                                <input id="ac_meter_override" name="ac_meter_override" style="display:none">
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" id="ac_meter_override_button" class="btn btn-primary btn-sm" style="width:100%; padding:0px; border:0px;">Override</button>
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Power Representation:
                                            </div>
                                            <div class="col-md-4">
                                                <select name="ac_meter_power_rep" id="ac_meter_power_rep" style="width:100%; text-align:center;">
                                                    <option value="Total">Total Power</option>
                                                    <option value="Median"><s>Median Power</s></option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <br>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <u>AC Meter Status</u>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="ac_meter_enable_state" style="display:block">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Enable State:
                                            </div>
                                            <div class="col-md-4">
                                                <td><span id="ac_meter_enable_statetext"></span></td>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_enable" name="ac_meter_enable" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Total Power Factor:
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_total_power_factor" name="ac_meter_total_power_factor" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Average Phase Voltage (V):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_average_voltage" name="ac_meter_average_voltage" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Total Active Power (kW):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_total_active_power" name="ac_meter_total_active_power" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Average Line Voltage (V):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_average_line_voltage" name="ac_meter_average_line_voltage" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Phase A Power (kW):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_phase_a_power" name="ac_meter_phase_a_power" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Average Current (A):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_average_current" name="ac_meter_average_current" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Phase B Power (kW):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_phase_b_power" name="ac_meter_phase_b_power" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Frequency (Hz):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_frequency" name="ac_meter_frequency" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Phase C Power (kW):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_phase_c_power" name="ac_meter_phase_c_power" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Heartbeat:
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_heartbeat" name="ac_meter_heartbeat" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Import Active Energy (kWh):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_import_active_energy" name="ac_meter_import_active_energy" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Export Active Energy (kWh):
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" id="ac_meter_export_active_energy" name="ac_meter_export_active_energy" readonly="readonly" value="0" style="width:100%; padding:0px; text-align:center;">
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>

        // Get the UID for this page to request data from
        path = window.location.pathname;
        var moduleUID = path.split('\(').pop().split('\)')[0];                                         // Grabs the module UID from this page "(<UID>)"

        // Request data for this page
        function pageLoad()
        {
            fetch("/Mod/FlexMod_ModbusACMeter" + "_(" + moduleUID + ")" + "/data").then(res => res.json()).then(res => {

                pageUpdate();

                // Set up handlers to catch all button and selector events
                var form = document.querySelectorAll("form");

                function doggoFetch(formData)
                {
                    fetch("/Mod/FlexMod_ModbusACMeter" + "_(" + moduleUID + ")",
                    {
                       body: formData,
                       method: "post"
                    })
                    .catch(error => console.error('Error', error))
                }

                for(var x=0; x<form.length; x++)                                                            // We're preparing all form data for submission...
                {
                    form[x].onsubmit = function(event){
                        doggoFetch(new FormData(event.target));
                        return false;                                                                       // ...and preventing the page from refreshing!
                    }

                    form[x].addEventListener('change', function() {
                        doggoFetch(new FormData(event.target.form));
                        return false;
                    });
                }

                // Update Module Information
                document.getElementById("ac_meter_name").innerHTML = res["ac_meter_name"];
                document.getElementById("ac_meter_man").innerHTML = res["ac_meter_man"];
                document.getElementById("ac_meter_fwver").innerHTML = res["ac_meter_fwver"];
                document.getElementById("ac_meter_serno").innerHTML = res["ac_meter_serno"];
                document.getElementById("ac_meter_constate").innerHTML = res["ac_meter_constate"];
                document.getElementById("ac_meter_ipaddr_local").value = res["ac_meter_ipaddr_local"];

                document.getElementById("ac_meter_power_rep").value = res["ac_meter_power_rep"];

                // Disable control buttons if manual override not set
                if(res["ac_meter_override"] == true)
                {
                    document.getElementById("ac_meter_ipaddr_local").disabled = false;
                    document.getElementById("ac_meter_override_button").innerHTML = "Disable";
                }
                else
                {
                    document.getElementById("ac_meter_ipaddr_local").disabled = true;
                    document.getElementById("ac_meter_override_button").innerHTML = "Enable";
                }
            })
            .catch(error => console.error('Error', error))
        };

        // Wait for page to load
        document.addEventListener('DOMContentLoaded', function () {
            pageLoad();                                                                             // Update data on page load
        });

        // Request data for this page
        function pageUpdate()
        {
            // Set the clock
            var date = new Date();
            clock = document.getElementById("clock").innerHTML = date.toLocaleString('en-GB', { hour12: false });

            fetch("/Mod/FlexMod_ModbusACMeter" + "_(" + moduleUID + ")" + "/data").then(res => res.json()).then(res => {

                enable_state = String(res["ac_meter_enablestate"]);
                document.getElementById("ac_meter_enable").value = enable_state[0].toUpperCase() + enable_state.substring(1);
                //document.getElementById("ac_meter_quantity_state").value = parseFloat(res["ac_meter_data"][0]);
                document.getElementById("ac_meter_heartbeat").value = parseFloat(res["ac_meter_data"][0]);
                document.getElementById("ac_meter_average_voltage").value = parseFloat(res["ac_meter_data"][2]).toFixed(2);
                document.getElementById("ac_meter_average_line_voltage").value = parseFloat(res["ac_meter_data"][3]).toFixed(2);
                document.getElementById("ac_meter_average_current").value = parseFloat(res["ac_meter_data"][4]).toFixed(2);
                document.getElementById("ac_meter_frequency").value = parseFloat(res["ac_meter_data"][5]).toFixed(2);
                document.getElementById("ac_meter_total_power_factor").value = parseFloat(res["ac_meter_data"][6]).toFixed(2);
                document.getElementById("ac_meter_total_active_power").value = parseFloat(res["ac_meter_data"][7]).toFixed(2);

<!--                These are specials and probably won't originate from self.outputs -->
                document.getElementById("ac_meter_phase_a_power").value = parseFloat(res["ac_meter_phase_a_power"]).toFixed(2);
                document.getElementById("ac_meter_phase_b_power").value = parseFloat(res["ac_meter_phase_b_power"]).toFixed(2);
                document.getElementById("ac_meter_phase_c_power").value = parseFloat(res["ac_meter_phase_c_power"]).toFixed(2);

                import_energy = ((parseFloat(res["ac_meter_data"][8]) << 16) + parseFloat(res["ac_meter_data"][9])) / 10;
                document.getElementById("ac_meter_import_active_energy").value = import_energy.toFixed(2);
                export_energy = ((parseFloat(res["ac_meter_data"][10]) << 16) + parseFloat(res["ac_meter_data"][11])) / 10;
                document.getElementById("ac_meter_export_active_energy").value = export_energy.toFixed(2);

                // Disable control buttons if manual override not set
                if(res["ac_meter_override"] == true)
                {
                    document.getElementById("ac_meter_ipaddr_local").disabled = false;
                    document.getElementById("ac_meter_override_button").innerHTML = "Disable";
                }
                else
                {
                    document.getElementById("ac_meter_ipaddr_local").disabled = true;
                    document.getElementById("ac_meter_override_button").innerHTML = "Enable";
                }
            })
            .catch(error => console.error('Error', error))
        };

        // Request data for this page
        var pageInterval = setInterval(function()
        {
            pageUpdate();
        }, 1000);

        </script>
    </body>
</html>
